* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    overflow: hidden;
}
.container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 200px 100px;
    gap: 10px;
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-image: url(imgs/background-img.png);
}
.container .welcome-screen {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 60px;
    width: 1080px;
    height: 435px;
    background: rgba(245, 247, 255, 0.85);
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.container .welcome-screen .img img {
    width: 450px;
    height: 315px;
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 1;
}
.container .welcome-screen .text-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 450px;
    height: 225px;
    flex: none;
    order: 1;
    flex-grow: 1;
}
.container .welcome-screen .text-btn .text h1 {
    width: 315px;
    height: 67px;
    font-style: normal;
    font-weight: 600;
    font-size: 56px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2D2D2D;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.container .welcome-screen .text-btn .text p {
    width: 450px;
    height: 38px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #1F1249;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.container .welcome-screen .text-btn .btn button {
    flex-direction: row;
    justify-content: center;
    padding: 0px 50px;
    gap: 12px;
    width: 450px;
    height: 60px;
    background: linear-gradient(113.87deg, #2663DF 14.81%, #758FF0 88.76%);
    box-shadow: 0px 6px 18px #9CADF2;
    border-radius: 10px;
    flex-grow: 1;
    border: none;
}
.container .welcome-screen .text-btn .btn button p {
    width: 89px;
    height: 22px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    margin-top: 11px;
    text-align: center;
    color: #FFFFFF;
    flex-grow: 0;
    position: absolute;
}
.container .welcome-screen .text-btn .btn button p,
.container .welcome-screen .text-btn .btn button {
    display: flex;
    align-items: center;
    flex: none;
    order: 0;
}
.container .sign-up {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 60px;
    width: 1080px;
    height: 656px;
    background: rgba(245, 247, 255, 0.85);
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.container .sign-up .img img {
    width: 450px;
    height: 536px;
    border-radius: 10px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}
.container .sign-up .info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    width: 450px;
    height: 536px;
    flex: none;
    order: 1;
    flex-grow: 1;
}
.container .sign-up .info .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 5px;
    width: 450px;
    height: 146px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.container .sign-up .info .text h1 {
    width: 450px;
    height: 50px;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2D2D2D;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.container .sign-up .info .text p {
    width: 450px;
    height: 76px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 160%;
    color: #1F1249;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.container .sign-up .info .informations {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 450px;
    height: 350px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.container .sign-up .info .informations .create_account {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 450px;
    height: 270px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.container .sign-up .info .informations .infor-1 {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 20px;
    gap: 12px;
    width: 450px;
    height: 60px;
    background: #FFFFFF;
    border: 1px solid #DBE3FF;
    border-radius: 10px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.container .sign-up .info .informations .infor-1 .icon {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 29px;
    height: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.container .sign-up .info .informations .infor-1 .icon .head {
    position: absolute;
    color: #9CADF2;
    font-size: 20px;
    display: flex;
    align-items: center;
}
.container .sign-up .info .informations .infor-1 .icon .user {
    width: 20px;
    height: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
    align-items: center;
}
.container .sign-up .info .informations .infor-1 .icon .side-line {
    width: 1px;
    height: 22px;
    background: #DBE3FF;
    flex: none;
    order: 1;
    flex-grow: 0;
}
.container .sign-up .info .informations .infor-1 input {
    width: 369px;
    height: 44px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #3B3B3B;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 1;
    text-transform: capitalize;
    outline: none;
    border: none;

}
.container .sign-up .info .informations .btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 450px;
    height: 60px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}
.container .sign-up .info .informations .btn button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 50px;
    gap: 12px;
    width: 450px;
    height: 60px;
    background: linear-gradient(113.87deg, #2663DF 14.81%, #758FF0 88.76%);
    box-shadow: 0px 6px 18px #9CADF2;
    border-radius: 10px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    border: none;
    margin-top: 35px;

}
.container .sign-up .info .informations .btn button p {
    width: 118px;
    height: 22px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin-top: 11px;
}
.invalid {
    color: red;
    font-size: 14px;
    margin-left: 27px;
    text-transform: capitalize;

}
.valid {
    color: green;
    font-size: 14px;
    margin-left: 27px;
    text-transform: capitalize;
}
.succeed {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 60px;
    gap: 60px;
    width: 1080px;
    height: 576px;
    background: rgba(245, 247, 255, 0.85);
    border-radius: 10px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.succeed .img img {
    width: 450px;
    height: 456px;
    border-radius: 10px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 1;
}
.succeed .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
    width: 450px;
    height: 96px;
    flex: none;
    order: 1;
    flex-grow: 1;
}
.succeed .text h1 {
    width: 450px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 120%;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color: #2D2D2D;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}
.succeed .text a {
    width: 450px;
    height: 26px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-decoration-line: underline;
    color: #1F1249;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

@media(max-width:1000px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        position: relative;
        width: 375px;
        height: 647px;
        background: url(gradientbackground.png), #FFFFFF;
    }

    .container .welcome-screen {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        padding: 40px 0px;
        gap: 40px;
        width: 375px;
        height: 647px;
        background: rgba(245, 247, 255, 0.85);
        border-radius: 10px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
    }

    .container .welcome-screen .img img {
        width: 315px;
        height: 315px;
        border-radius: 10px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .container .welcome-screen .text-btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 40px;
        width: 315px;
        height: 212px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .container .welcome-screen .text-btn .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        width: 315px;
        height: 112px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .container .welcome-screen .text-btn .text h1 {
        height: 50px;

        font-style: normal;
        font-weight: 400;
        font-size: 42px;
        line-height: 120%;
        justify-content: center;
        align-items: center;
        text-align: center;
        text-transform: capitalize;
        color: #2D2D2D;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .container .welcome-screen .text-btn .text p {
        width: 315px;
        height: 52px;

        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        color: #1F1249;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .container .welcome-screen .text-btn .btn {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;
        width: 315px;
        height: 60px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .container .welcome-screen .text-btn .btn button {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 0px 50px;
        gap: 12px;
        width: 315px;
        height: 60px;
        background: linear-gradient(113.87deg, #2663DF 14.81%, #758FF0 88.76%);
        box-shadow: 0px 6px 18px #9CADF2;
        border-radius: 10px;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .container .welcome-screen .text-btn .btn button p {
        width: 89px;
        height: 22px;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 140%;
        display: flex;
        align-items: center;
        text-align: center;
        color: #FFFFFF;
        flex: none;
        order: 0;
        flex-grow: 0;
    }

}

@media(max-width:1000px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        position: relative;
        width: 375px;
        overflow: hidden;
        background: url(gradientbackground.png), #FFFFFF;
    }

    .container .sign-up {
        display: none;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        padding: 10px 0px;
        gap: 10px;

        width: 375px;
        height: 931px;

        background: rgba(245, 247, 255, 0.85);
        border-radius: 10px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
    }

    .container .sign-up .info{
        width: 350px;
    }
    .container .sign-up .img img {

        width: 315px;
        height: 315px;

        background: url(UFdzw93KqImMmgucVlvhR2hapqGl33Cxz1HnzYum.jpg);
        border-radius: 10px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .container .sign-up .info .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 16px;
        width: 315px;
        height: 106px;
        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .container .sign-up .info .text h1 {
        height: 38px;
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
        justify-content: center;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: capitalize;
        color: #2D2D2D;
        flex: none;
        order: 0;
        flex-grow: 0;
        margin-left: -50px;
    }

    .container .sign-up .info .text p {
        height: 52px;
        font-family: 'Mulish';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 160%;
        text-align: center;
        color: #1F1249;
        flex: none;
        order: 1;
        flex-grow: 0;
        padding: 0 50px;
        margin-left: -50px;
    }

    .container .sign-up .info .informations {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 0px;
        margin: 0px auto;
        width: 315px;
        height: 350px;
        flex: none;
        order: 2;
        flex-grow: 0;
    }
    .container .sign-up .info .informations .infor-1 input{
    width: 250px;
    } 
    .container .sign-up .info .informations .infor-1 {
        width: 350px;
            } 



    .container .sign-up .info .informations .create_account {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 5px;
        margin: 5px -15px;
        width: 315px;
        height: 215px;


        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }
    .container .sign-up .info .informations .btn button {
        width: 350px;
        margin-left:-18px ;
    }
    .container .sign-up .info .informations .btn  {
        width: 350px;
        position: relative;
        bottom: -90px;
    }
}

@media(max-width:1000px) {
    .container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        position: relative;
        width: 375px;
        height: 100%;
        background: url(gradientbackground.png), #FFFFFF;
    }

    .container .succeed {
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        padding: 40px 0px;
        gap: 200px;
        width: 375px;
        height: 733px;
        background: rgba(245, 247, 255, 0.85);
        border-radius: 10px;
        flex: none;
        order: 0;
        align-self: stretch;
        flex-grow: 1;
    }

    .container .succeed .img img {
        width: 322px;
        height: 315px;

        background: url(QSdzMAwp8WwF8dPZUomIcJnGigpBqNctjgwh8by6.jpg);
        border-radius: 10px;

        /* Inside auto layout */

        flex: none;
        order: 0;
        flex-grow: 0;
    }

    .container .succeed .text {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0px;
        gap: 20px;
        width: 315px;
        height: 60px;


        /* Inside auto layout */

        flex: none;
        order: 1;
        flex-grow: 0;
    }

    .container .succeed .text h1 {
        width: 315px;
        height: 38px;
        font-family: ' Abdoullah Ashgar EL-kharef';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 120%;
        display: flex;
        align-items: center;
        text-align: center;
        text-transform: capitalize;
        color: #2D2D2D;
        flex: none;
        order: 2;
        flex-grow: 0;
    }
}

a {
    display: block;
    text-align: center;
    height: 26px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    text-align: center;
    color: #1F1249;
    flex: none;
    order: 3;
    flex-grow: 0;
    margin-top: 20px;
}
@media (max-width: 1000px) {
    .container{
        padding: 10px;
    }
    .container .welcome-screen {
        height: 100vh;
    }
    .container .sign-up {
        height: 100vh;
        gap: 10px;
    }

    .container .sign-up .info .text p {
        padding: 0 90px;
    }
    .container .sign-up .info .informations .infor-1 {
        width: 300px;
        margin-left: 23px;
        height: 40px;
    }
    .container .sign-up .info .informations .infor-1 input {
        width: 200px;
        height: 23px;
    }
    .container .sign-up .info .informations .btn button {
        width: 300px;
        margin-top: 0;
        position: relative;
        bottom: 0px;
        margin-left: 7px; 
    }
    .container .sign-up .info {
       height: 375px;
    }
    .container .sign-up .info .text {
       gap: 0px;
    }
    .container .sign-up .img img{
       width: 260px;
       height: 260px;
    }
    
   .container .sign-up .info .informations .create_account {
       height: 155px;

}
}

@media (max-width:400px) {
    .container .welcome-screen {
        height: 100vh;
    }
    .container .sign-up {
        height: 100vh;
        gap: 10px;
    }

    .container .sign-up .info .text p {
        padding: 0 90px;
    }
    .container .sign-up .info .informations .infor-1 {
        width: 300px;
        margin-left: 23px;
        height: 40px;
    }
    .container .sign-up .info .informations .infor-1 input {
        width: 200px;
        height: 23px;
    }
    .container .sign-up .info .informations .btn button {
        width: 300px;
        margin-top: 0;
        margin-left: 5px; 
    }
    .container .sign-up .info .informations .btn {
    position: relative;
        bottom: -95px;
    }
    .container .sign-up .info {
       height: 375px;
    }
    .container .sign-up .info .text {
       gap: 0px;
    }
    .container .sign-up .img img{
       width: 260px;
       height: 260px;
    }
    
   .container .sign-up .info .informations .create_account {
       height: 155px;

}
}
@media (max-height:620px){
    .container .sign-up .img img {
        padding-top: 8px;
        width: 220px;
        height: 220px;
    }
    .container .sign-up .info .text p {
        height:25px;
    }
    .container .sign-up .info .text {
    height: 90px;
    }
    .container .sign-up .info .informations .btn {
        height: 40px;
        bottom: -40px;
    }
    .container .sign-up .info .informations .btn  button{
        height: 40px;
        bottom: -22px;
    }
    .container .sign-up .info .informations .infor-1 {
        height: 35px;
    }
    .container .sign-up .info .informations .infor-1 input {
        height: 18px;
    }
}